/* Button types */

.solid-button {
	@include button($theme-3, $theme-3, $white) {
		border-color: $theme-4;
		background-color: $theme-4;
	}
}

.ghost-button {
	@include button($white, transparent, $white) {
		background-color: rgba($white, 0.15);
	}
}

.empty-button {
	@include button(transparent, transparent, $white) {
		text-decoration: underline;
	}
}
