/* Sections */

.section-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

/* Title */

.section-title {
	color: $white;
	font-weight: bold;
	font-size: 3em;
	border-bottom: 2px solid $theme-1;
}

.section-text {
	text-align: center;
	color: $gray-8;
	margin: 0;
	width: 700px;
}
