.about-content {
	display: grid;
	grid-gap: 3em;
	grid-template-columns: 500px 300px;
	align-items: center;
	justify-content: center;

	& > div {
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		& > p {
			text-align: left;
			width: 500px;
			margin-bottom: 1em;

			p {
				color: lighten($theme-4, 5);
				display: inline;
			}
		}
	}

	a {
		margin-top: 2em;
	}

	img {
		width: 300px;
		border-radius: 50%;
	}
}
