.about-content {
	width: 800px;
	display: grid;
	grid-gap: 3em;
	grid-template-columns: 1fr 300px;
	align-items: center;
	justify-content: center;

	& > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	a {
		margin-top: 2em;
	}

	img {
		width: 300px;
		border-radius: 50%;
	}
}

.about-text {
	color: $gray-9;
	margin-bottom: 1em;

	p {
		color: lighten($theme-4, 5);
		display: inline;
	}
}

@media (max-width: 900px) {
	.about-content {
		width: 100%;
	}
}
