.about-content {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 500px 300px;
	align-items: center;
	justify-content: center;

	& > div {
		height: 300px;
		display: flex;
		flex-direction: column;
	}

	p {
		text-align: left;
		width: 500px;
	}

	p:nth-of-type(1) {
		margin-bottom: 1em;
	}

	p:nth-of-type(2) {
		margin-bottom: 3em;
	}

	img {
		width: 300px;
	}
}
