.contact-section {
	& > a {
		margin-bottom: 5em;
	}
}

.contact-text {
	text-align: center;
	color: $gray-D;
	width: 700px;
}

.mail {
	margin: 1em 0;
	color: $gray-7;
}

.all-social-links,
.social-links {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	img {
		width: 100%;
	}
}

.all-social-links {
	a {
		width: 60px;
	}
}

.social-links a {
	width: 40px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
	font-family: monospace;
	color: $white;
	opacity: 0.3;

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width: 800px) {
	.contact-text {
		width: 100%;
	}
}

@media (max-width: 350px) {
	.all-social-links a {
		width: 50px;
	}
}
