.experience-section {
	img {
		width: 500px;
	}

	p {
		font-size: 1.3em;
		color: $gray-4;
		margin-top: 1em;
	}
}

@media (max-width: 600px) {
	.experience-section {
		img {
			width: 100%;
		}

		p {
			font-size: 4vw;
		}
	}
}
