.experience-section {
	img {
		width: 500px;
		margin: 3em 0 1em 0;
	}

	p {
		font-size: 1.3em;
		color: $gray-4;
	}
}

@media (max-width: 600px) {
	.experience-section {
		img {
			width: 100%;
		}

		p {
			font-size: 3.5vw;
		}
	}
}
