.header {
	height: 100vh;
	width: 150px;
	padding: 1em;
	display: var(--display-header);
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $gray-2;
}

.header-logo {
	width: 70px;
	cursor: pointer;
}

.header-sections {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		cursor: pointer;
		margin-bottom: 2em;
		color: $gray-C;
		text-decoration: none;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

.language-selector {
	appearance: none;
	border: none;
	background-color: $gray-3;
	padding: 1em 1.5em;
	color: $gray-C;
	opacity: 0.8;
	cursor: pointer;

	&::-ms-expand {
		display: none;
	}

	&:hover {
		opacity: 1;
	}
}

@media (max-width: 1000px) {
	.header {
		background-color: $gray-1;
		width: 100vw;
		z-index: 1000;
		position: absolute;
		top: 0;
		left: 0;
	}

	.header-logo {
		opacity: 0;
	}
}
