.header {
	height: 100vh;
	width: 150px;
	padding: 1em;
	display: var(--display-header);
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $gray-2;
}

.header-logo {
	width: 70px;
	cursor: pointer;
}

.header-sections {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > p {
		margin-bottom: 2em;
		color: $gray-C;
		text-decoration: none;
		opacity: 0.5;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
}

.choose-language {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	button {
		width: 100px;
		padding: 1em 1.5em;
		border: none;
		color: $gray-C;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		img {
			width: 15px;
			margin-right: 5px;
		}
	}

	& > button {
		background-color: rgba($white, 0.05);
	}
}

.language-selector {
	background-color: $gray-3;
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 100px;

	button {
		background-color: transparent;

		&:hover {
			background-color: $gray-4;
		}
	}
}

@media (max-width: 1000px) {
	.header {
		background-color: $gray-1;
		width: 100vw;
		z-index: 1000;
		position: absolute;
		top: 0;
		left: 0;
	}

	.header-logo {
		opacity: 0;
	}

	.choose-language button {
		width: 90px;
	}

	.language-selector {
		left: 90px;
	}
}
