.header {
	height: 100vh;
	width: 150px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $gray-2;
}

.header-logo {
	width: 70px;
}

.header-sections {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;

	a {
		margin-bottom: 2em;
		color: $gray-C;
		text-decoration: none;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

.language-selector {
	appearance: none;
	border: 1px solid transparent;
	background-color: $gray-3;
	padding: 0.5em 1em;
	color: $gray-A;

	&::-ms-expand {
		display: none;
	}
}

@media (max-width: 1000px) {
	.header {
		background-color: $gray-1;
		width: 100vw;
		z-index: 1000;
		position: absolute;
		top: 0;
		left: 0;
	}

	.header-logo {
		display: none;
	}

	.burger-close {
		display: flex;
	}
}
