.home-section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	img {
		width: 250px;
	}
}

.home-left {
	display: flex;
	flex-direction: column;
}

.home-hi {
	display: flex;
	flex-direction: column;
	margin-bottom: 5em;
}

.home-hi p {
	&:nth-of-type(1) {
		color: $gray-7;
		font-size: 2em;
	}

	&:nth-of-type(2) {
		font-weight: bold;
		margin: 0.1em 0 0.3em 0;
		color: $white;
		font-size: 4.5em;
	}

	&:nth-of-type(3) {
		color: $gray-8;
		font-size: 1.8em;
	}
}

.home-padding {
	padding: 0 10em;
}

@media (max-width: 1400px) {
	.home-section {
		padding: 0 5em;
	}
}

@media (max-width: 1200px) {
	.home-section img {
		display: none;
	}
}

@media (max-width: 1000px) {
	.home-left {
		width: 100%;
	}
	.home-padding {
		padding: 0 5em;
	}
}

@media (max-width: 740px) {
	.home-hi p {
		&:nth-of-type(1) {
			font-size: 5vw;
		}

		&:nth-of-type(2) {
			font-size: 9vw;
		}

		&:nth-of-type(3) {
			font-size: 4vw;
		}
	}
}

@media (max-width: 740px) {
	.home-padding {
		padding: 0 3em;
	}
}

@media (max-width: 500px) {
	.home-padding {
		padding: 0 2em;
	}
}
