.home-section {
	min-height: 100vh;
	padding: 0 10em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	img {
		width: 300px;
	}
}

.home-left {
	display: flex;
	flex-direction: column;

	.solid-button {
		margin-right: 1em;
	}
}

.home-hi {
	margin-bottom: 5em;
}

.home-hi p {
	&:nth-of-type(1) {
		font-size: 2em;
		color: $gray-7;
	}

	&:nth-of-type(2) {
		font-size: 4.5em;
		font-weight: bold;
		margin: 0.1em 0 0.3em 0;
		color: $white;
	}

	&:nth-of-type(3) {
		font-size: 1.7em;
		color: $gray-8;
	}
}

@media (max-width: 700px) {
	.home-hi p {
		&:nth-of-type(1) {
			font-size: 5vw;
		}

		&:nth-of-type(2) {
			font-size: 9vw;
		}

		&:nth-of-type(3) {
			font-size: 4vw;
		}
	}
}
