.home-section {
	height: 95vh;
	width: 100%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 4em 5em 10em 5em;
	margin: 0 auto;

	img {
		width: 220px;
		opacity: 0.5;
	}
}

.home-left {
	display: flex;
	flex-direction: column;
}

.home-hi {
	display: flex;
	flex-direction: column;
	margin-bottom: 5em;
}

.home-hi h1 {
	font-weight: bold;
	margin: 0.1em 0 0.3em 0;
	color: $white;
	font-size: 4.5em;
}

.home-hi p {
	&:nth-of-type(1) {
		color: $gray-7;
		font-size: 2em;
	}

	&:nth-of-type(2) {
		color: $gray-8;
		font-size: 1.8em;
	}
}

.scroll-down {
	height: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	animation: scroll-animation 3s ease-in-out infinite;

	img {
		width: 50px;
	}
}

@keyframes scroll-animation {
	0% {
		transform: translate(0, -20px);
		opacity: 0;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		transform: translate(0, 20px);
		opacity: 0;
	}
}

@media (max-width: 1200px) {
	.home-section img {
		display: none;
	}
}

@media (max-width: 1000px) {
	.home-left {
		width: 100%;
		align-items: center;
	}

	.home-hi {
		width: 100%;
		align-items: center;
	}

	.home-section {
		padding: 0 3em;
	}
}

@media (max-width: 675px) {
	.home-hi h1 {
		font-size: 10vw;
	}

	.home-hi p {
		&:nth-of-type(1) {
			font-size: 5vw;
		}

		&:nth-of-type(2) {
			font-size: 4vw;
		}
	}

	.scroll-down img {
		width: 7%;
	}
}

@media (max-width: 500px) {
	.home-hi p {
		&:nth-of-type(1) {
			font-size: 7vw;
		}

		&:nth-of-type(2) {
			font-size: 6vw;
		}
	}

	.home-section {
		padding: 0 1em;
	}
}
