.about-skills {
	width: 900px;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
}

.skill-card {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $gray-2;

	img {
		width: 40px;
	}

	p {
		font-weight: bold;
		margin: 1em 0 2em 0;
		color: $gray-D;
	}
}

.tools-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	li {
		background-color: $gray-2;
		margin: 0.5em;

		img {
			mix-blend-mode: luminosity;
		}
	}
}

@media (max-width: 1500px) {
	.banner-section,
	.section-container {
		padding: 0 5em;
	}
}

@media (max-width: 1100px) {
	.about-skills {
		width: 100%;
	}
	.skill-card p {
		font-size: 0.9em;
	}
}

@media (max-width: 900px) {
	.about-skills {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);

		div:nth-of-type(1) {
			grid-column: 1 / 3;
		}

		div:nth-of-type(2) {
			grid-column: 3 / 5;
		}

		div:nth-of-type(3) {
			grid-column: 2 / 4;
		}
	}
}

@media (max-width: 600px) {
	.about-skills {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);

		div:nth-of-type(1) {
			grid-column: 1 / 2;
			grid-row: 1;
		}

		div:nth-of-type(2) {
			grid-column: 1 / 2;
			grid-row: 2;
		}

		div:nth-of-type(3) {
			grid-column: 1 / 2;
			grid-row: 3;
		}
	}
}
