/* RESET */

body {
	background-color: $gray-1;
}

* {
	outline: none;
	box-sizing: border-box;
}

ul {
	padding-left: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

/* SPECIAL EFFECTS */

/* Scroll */

body {
	&::-webkit-scrollbar-track {
		background-color: $gray-1;
	}

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: $gray-3;
	}
}

/* Selected text */

* {
	&::-moz-selection,
	&::selection {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
