/* Main container */

#root {
	display: flex;
}

.sections {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	background-color: $gray-1;
}

/* Sections */

.section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 7em 5em;
}

/* Title */

.section-title {
	color: $white;
	font-weight: bold;
	font-size: 3em;
	border-bottom: 3px solid $theme-3;
	margin: 0 0 1em 0;
}

@media (max-width: 1000px) {
	.section-title {
		font-size: 2.5em;
	}
}

@media (max-width: 500px) {
	.section-container {
		padding: 7em 3em;
	}
}

@media (max-width: 400px) {
	.section-container {
		padding: 7em 1em;
	}
}
