.contact-section {
	& > a {
		margin-bottom: 5em;
	}
}

.contact-text {
	text-align: center;
	color: rgba($white, 0.7);
	width: 700px;
}

.mail {
	margin: 2em 0;
	color: rgba($white, 0.3);
}

.all-social-links,
.social-links {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	img {
		width: 100%;
	}
}

.all-social-links {
	a {
		width: 60px;
	}
}

.social-links a {
	width: 40px;
}

@media (max-width: 800px) {
	.contact-text {
		width: 100%;
	}
}

@media (max-width: 350px) {
	.all-social-links a {
		width: 50px;
	}
}
