/* TYPOGRAPHY */

body {
	font-family: $paragraph-font;
	background-color: $black;
}

/* RESET */

body,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	outline: none;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

/* SPECIAL EFFECTS */

/* Scroll */

* {
	&::-webkit-scrollbar-track {
		background-color: $black;
	}

	&::-webkit-scrollbar {
		width: 10px;
		@media (max-width: 1000px) {
			width: 1px;
		}
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($white, 0.15);
	}
}

/* Selected text */

h1::-moz-selection,
h2::-moz-selection,
p::-moz-selection,
a::-moz-selection,
li::-moz-selection,
img::-moz-selection {
	background-color: rgba($theme, 0.3);
}

h1::selection,
h2::selection,
p::selection,
a::selection,
li::selection,
img::selection {
	background-color: rgba($theme, 0.3);
}
