@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Open+Sans&display=swap');

/* Theme */
$theme: #7040c2;
$black: #00010f;
$white: #fff;

/* Fonts */
$title-font: 'Poppins', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;
