.contact-section {
	position: relative;

	& > a {
		margin: 2em 0 7em 0;
	}
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		width: 60px;
	}

	img {
		width: 100%;
	}
}

footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
