.header {
	height: 100vh;
	width: 150px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 70px;
}

.header-sections {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;

	li {
		cursor: pointer;
		margin-bottom: 2em;
	}
}

.select-languaje {
	position: relative;
}

.select-languaje-container {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 50px;
	padding: 0.5em;

	button {
		padding: 1em 2em;
		cursor: pointer;
	}
}

@media (max-width: 1000px) {
	.header-sections {
		display: none;
	}
}
