.header {
	min-height: 15vh;
	padding: 0.5em 10em;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > img {
		width: 70px;
	}
}

.header-sections {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;

	li {
		cursor: pointer;
		margin-left: 3em;
	}
}

.select-languaje {
	position: relative;
}

.select-languaje-container {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 50px;
	padding: 0.5em;

	button {
		padding: 1em 2em;
		cursor: pointer;
	}
}

@media (max-width: 1000px) {
	.header-sections {
		display: none;
	}
}
