.home-section {
	min-height: 100vh;
	padding: 0 10em;
	display: flex;
	align-items: center;
	justify-content: space-between;

	img {
		width: 400px;
		border-radius: 50%;
	}
}

.home-left {
	display: flex;
	flex-direction: column;

	.solid-button {
		margin-right: 1em;
	}
}

.home-hi {
	margin-bottom: 8em;
}

.home-hi p {
	&:nth-of-type(1) {
		font-size: 2em;
	}

	&:nth-of-type(2) {
		font-size: 4.5em;
		font-weight: bold;
		margin: 0.1em 0 0.3em 0;
	}

	&:nth-of-type(3) {
		font-size: 1.7em;
	}
}

@media (max-width: 1300px) {
	.home-section {
		flex-direction: column;
	}

	.home-left {
		align-items: center;
		margin: 5em 0;
	}

	.home-hi {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5em;
	}

	.home-section img {
		display: none;
	}
}

@media (max-width: 700px) {
	.home-hi p {
		&:nth-of-type(1) {
			font-size: 5vw;
		}

		&:nth-of-type(2) {
			font-size: 9vw;
		}

		&:nth-of-type(3) {
			font-size: 4vw;
		}
	}
}
