.about-text {
	text-align: center;
	width: 600px;
}

.about-skills {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 70px;
}

@media (max-width: 500px){
	.about-skills{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 300px){
	.about-skills{
		grid-template-columns: 1fr;
	}
}