.contact-text {
	text-align: center;
	width: 600px;
}

.contact-section button {
	margin: 2em 0 0 0;
}

.contact-follow {
	color: var(--gray-7);
	font-size: 1.3em;
	font-weight: 700;
	padding-top: 5em;
	margin: 0;
}

.contact-social {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-social a {
	width: 60px;
}

.contact-social img {
	width: 100%;
}