.signature {
	font-family: monospace;
	color: #fff;
	opacity: 0.3;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
}

.signature a {
	color: #fff;
	text-decoration: none;
}

.signature a:hover {
	text-decoration: underline;
}
