.header {
	min-height: 15vh;
	padding: 0.5em 10em;
	color: var(--gray-E);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	width: 70px;
}

.header ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
}

.header li {
	cursor: pointer;
	opacity: 0.9;
}

.header li:hover {
	opacity: 1;
}

.header ul li:last-of-type {
	opacity: 1;
	position: relative;
}

.header ul li:last-of-type p {
	opacity: 0.7;
}

.header ul li:last-of-type p:hover {
	opacity: 0.8;
}

.select-languaje {
	display: none;
	background-color: var(--gray-3);
	position: absolute;
	top: 50px;
	padding: 0.5em;
}

.select-languaje button {
	background-color: transparent;
	color: var(--white);
	border: none;
	padding: 1em 2em;
	cursor: pointer;
}

.select-languaje button:hover {
	background-color: var(--gray-4);
}

@media (max-width: 1000px) {
	.header {
		padding: 0.5em 5em;
	}

	.header ul {
		display: none;
	}
}
