.project-card {
	width: 1000px;
	height: 250px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 2em;
	margin: 3em 0 5em 0;
	padding: 0.5em;
	background-color: #181818;
}

.project-card-photo {
	background-color: var(--theme-1);
}

.project-card-photo img {
	width: 100%;
	height: 100%;
}

.project-card-photo img {
	mix-blend-mode: luminosity;
}

.project-card-photo:hover img {
	mix-blend-mode: normal;
}

.project-card-data {
	padding: 0.5em 1em;
}

.project-card-title {
	color: var(--gray-C);
	font-weight: bold;
	font-size: 1.5em;
}

.project-card-description {
	color: var(--gray-7);
}

.project-card-title,
.project-card-description {
	text-decoration: none;
	display: block;
	margin-bottom: 1.3em;
}

.project-card-tools {
	list-style: none;
	display: flex;
	color: var(--gray-5);
}

.project-card-tools li {
	padding: 0.1em 0.3em;
	margin: 0 0.5em 0 0;
	border-radius: 0.1em;
	background-color: var(--gray-2);
	color: var(--gray-5);
}

.project-card-github img,
.project-card-website img {
	opacity: 0.7;
	width: 35px;
	margin-top: 0.5em;
}

.project-card-github img:hover,
.project-card-website img:hover {
	opacity: 1;
}

@media (max-width: 1050px) {
	.project-card {
		width: 700px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
}
