.projects-section {
	min-height: 100vh;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3em;
	width: 1200px;
}
