.header {
	color: $gray-E;
}

.header-sections li {
	opacity: 0.9;

	&:hover {
		opacity: 1;
	}
}

.select-languaje {
	opacity: 1;

	p {
		opacity: 0.7;

		&:hover {
			opacity: 0.8;
		}
	}
}

.select-languaje-container {
	background-color: $gray-3;

	button {
		background-color: transparent;
		color: $white;
		border: none;

		&:hover {
			background-color: $gray-4;
		}
	}
}
