.project-card {
	background-color: $gray-2;

	&:hover {
		outline: 1px solid $theme-1;
		box-shadow: 0 0 10px 1px $theme-1;
	}
}

.project-card-photo {
	background-color: $theme-3;

	img {
		mix-blend-mode: luminosity;

		&:hover {
			mix-blend-mode: normal;
		}
	}
}

.project-card-data > a {
	p:nth-of-type(1) {
		color: $white;
	}

	p:nth-of-type(2) {
		color: $gray-9;
	}
}

.project-card-tools li {
	color: $gray-5;
}

.project-card-resources a {
	opacity: 0.7;
	color: $white;

	&:hover {
		opacity: 1;
	}
}
