/* TYPOGRAPHY */

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
	font-family: "Mulish", sans-serif;
}

/* RESET */

html {
	scroll-behavior: smooth;
}

body,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	outline: none;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

/* SPECIAL EFFECTS */

/* Scroll */

.sections {
	&::-webkit-scrollbar-track {
		background-color: $gray-1;
	}

	&::-webkit-scrollbar {
		width: 10px;
		@media (max-width: 1000px) {
			width: 1px;
		}
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: $gray-3;
	}
}

/* Selected text */

h2,
p,
button {
	&::-moz-selection,
	&::selection {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
