@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

/* VARIABLES */

/* Theme */

$theme-1: #3e236b;
$theme-2: #52436b;
$theme-3: #7040c2;
$theme-4: #874deb;
$theme-5: #b696ee;

/* Gray scale */

$black: #000;
$gray-1: #111;
$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-A: #aaa;
$gray-B: #bbb;
$gray-C: #ccc;
$gray-D: #ddd;
$gray-E: #eee;
$white: #fff;

/* MAIN STYLES */

body {
	background-color: $gray-1;
	font-family: "Mulish", sans-serif;
}

* {
	outline: none;
	box-sizing: border-box;
}

ul {
	padding-left: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

/* COMPONENTS */

/* Sections */

.section-container {
	min-height: 100vh;
	padding: 0 10em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Buttons */

@mixin button($border, $background, $color) {
	display: inline-block;
	padding: 0.7em;
	font-size: 1.1em;
	cursor: pointer;
	width: 170px;
	text-align: center;
	text-decoration: none;
	border: 2px solid $border;
	background-color: $background;
	color: $color;

	&:hover {
		@content;
	}
}

.solid-button {
	@include button($theme-3, $theme-3, $white) {
		border-color: $theme-4;
		background-color: $theme-4;
	}
}

.ghost-button {
	@include button($white, transparent, $white) {
		background-color: rgba($white, 0.15);
	}
}

.empty-button {
	@include button(transparent, transparent, $white) {
		text-decoration: underline;
	}
}

/* Title */

.section-title {
	color: $white;
	font-weight: bold;
	font-size: 2.5em;
	border-bottom: 2px solid $theme-1;
}

.section-text {
	text-align: center;
	color: $gray-8;
	margin: 0;
	width: 700px;
}

/* SPECIAL EFFECTS */

/* Scroll */

body {
	&::-webkit-scrollbar-track {
		background-color: $gray-1;
	}

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: $gray-3;
	}
}

/* Selected text */

* {
	&::-moz-selection,
	&::selection {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

/* IMPORT STYLES */

@import "Header.scss";
@import "Banner.scss";
@import "About.scss";
@import "Experience.scss";
@import "Projects.scss";
@import "Contact.scss";

/* RESPONSIVE */

@media (max-width: 1500px) {
	.header,
	.banner-section,
	.section-container {
		padding-left: 5em;
		padding-right: 5em;
	}
}

@media (max-width: 1000px) {
	.section-text {
		width: 90%;
	}
}

@media (max-width: 950px) {
	.header,
	.banner-section,
	.section-container {
		padding-left: 2em;
		padding-right: 2em;
	}
}
