.banner-section {
	min-height: 80vh;
	padding: 0 10em;
	display: flex;
	align-items: center;
	justify-content: space-between;

	img {
		width: 450px;
		border-radius: 50%;
		// background-color: blue;
	}

	// background-color: coral;
}

.banner-left {
	display: flex;
	flex-direction: column;

	& > div:nth-of-type(2) a {
		margin-right: 1em;
	}

	// background-color: cornflowerblue;
}

.banner-hi {
	margin-bottom: 8em;
	// background-color: cyan;
}

.banner-hi p {
	&:nth-of-type(1) {
		color: $gray-7;
		font-size: 2em;
	}

	&:nth-of-type(2) {
		color: $white;
		font-size: 4.5em;
		font-weight: bold;
		margin: 0.1em 0 0.3em 0;
	}

	&:nth-of-type(3) {
		color: $gray-8;
		font-size: 1.7em;
	}
}

@media (max-width: 1400px) {
	.banner-section img {
		width: 400px;
	}
}

@media (max-width: 1300px) {
	.banner-section {
		flex-direction: column;
	}

	.banner-left {
		align-items: center;
		margin: 5em 0;
	}

	.banner-hi {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
