.contact-section {
	& > div {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			width: 60px;
			opacity: 0.7;

			&:hover {
				opacity: 1;
			}
		}

		img {
			width: 100%;
		}
	}
}

footer {
	font-family: monospace;
	color: $white;
	opacity: 0.3;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
