@import "general/variables.scss";
@import "general/reset.scss";
@import "general/section.scss";
@import "general/button.scss";
@import "general/loader.scss";

@import "sections/mobile-header.scss";
@import "sections/header.scss";
@import "sections/home.scss";
@import "sections/about.scss";
@import "sections/skills.scss";
@import "sections/experience.scss";
@import "sections/projects.scss";
@import "sections/contact.scss";
@import "sections/footer.scss";
