.jobs-container {
	position: relative;
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.job-item {
	// margin-bottom: 3em;
	width: 100%;
	display: grid;
	grid-gap: 25px 20px;
	grid-template-columns: 1fr 30px 1fr;
	grid-template-rows: 30px 1fr;
	grid-template-areas:
		"company circle position"
		"date empty tasks";
}

.time-line {
	margin-top: 4em;
	height: 100%;
	border: none;
	border-left: 4px dashed $gray-3;
	position: absolute;
	top: -3em;
	left: 50%;
	margin-left: -2px;

	&::after {
		content: "";
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $gray-2;
		position: absolute;
		left: -12px;
		bottom: 0;
	}
}

.job-circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: $gray-2;
	grid-area: circle;
	z-index: 900;
	margin-top: 7px;
}

.job-item:first-of-type .job-circle {
	background-color: transparent;
	outline: 2px solid $theme-1;
	display: flex;
	justify-content: center;
	align-items: center;

	& > div {
		width: 70%;
		height: 70%;
		border-radius: 50%;
		background-color: $theme-1;
	}
}

.job-company,
.job-date {
	text-align: end;
}

.job-company {
	padding-top: 10px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: $gray-D;
	grid-area: company;
}

.job-date {
	font-size: 16px;
	color: $gray-5;
	grid-area: date;
}

.job-position {
	font-size: 20px;
	font-weight: bold;
	color: $theme-4;
	padding-top: 10px;
	margin-bottom: 20px;
	grid-area: position;
}

.job-tasks {
	list-style: circle;
	padding-left: 1.5em;
	grid-area: tasks;

	li {
		font-size: 16px;
		color: $gray-A;
		margin-bottom: 10px;
	}
}

@media (max-width: 1020px) {
	.jobs-container {
		width: 700px;
	}

	.time-line {
		left: 15px;
	}

	.job-item {
		grid-gap: 5px 20px;
		grid-template-columns: 50px 1fr;
		grid-template-rows: repeat(3, 30px) 1fr;
		grid-template-areas:
			"circle position"
			"empty company"
			"empty date"
			"empty tasks";
	}

	.job-position,
	.job-company {
		padding-top: 0;
	}

	.job-position {
		margin-bottom: 0;
	}

	.job-company,
	.job-date {
		text-align: start;
	}
}

@media (max-width: 800px) {
	.jobs-container {
		width: 100%;
		margin-top: 3em;
	}

	.time-line {
		left: 16px;

		&::after {
			width: 15px;
			height: 15px;
			left: -9px;
		}
	}

	.job-item {
		grid-template-columns: 30px 1fr;
	}

	.job-circle {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 530px) {
	.jobs-container {
		margin-top: 0;
	}

	.time-line,
	.job-circle,
	.job-item:first-of-type .job-circle {
		display: none;
	}

	.job-item {
		display: flex;
		flex-direction: column;
	}

	.job-position,
	.job-company,
	.job-date {
		text-align: center;
	}

	.job-position,
	.job-company,
	.job-date,
	.job-tasks {
		margin-bottom: 5px;
	}

	.job-tasks {
		margin-top: 10px;
	}
}
